
div#keyboard{
    position:fixed;
    top:-60px;
    height:30px;
    width:100%;
    z-index: 2000;

    -webkit-transition: top 0.25s ease-in-out;
    -moz-transition: top 0.25s ease-in-out;
    -o-transition: top 0.25s ease-in-out;

}

div#keyboard.visible{
    position:absolute;
    top:0px;
}

div#keyboard .key {
    opacity: 0.97;
    background: #ffffff;
    padding: 18px 27px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #000000;
    font-size: 13px;
    font-family: Georgia, serif;
    text-decoration: none;
    vertical-align: middle;
    cursor:pointer;
}
div#keyboard .key:hover {
    background: #1fa5ff;
    color: #ffffff;
}
div#keyboard .key:active {
    background: #1f1dff;
}